In [50]:
%pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /home/lgeniole/.local/lib/python3.10/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /home/lgeniole/.local/lib/python3.10/site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.2 -> 22.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [51]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/lgeniole/.local/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /home/lgeniole/.local/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/lgeniole/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2 -> 22.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [52]:
import pyspark

In [53]:
import pandas as pd
pd.read_csv("test1.csv")

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [54]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [55]:
from pyspark.sql import SparkSession

In [56]:
spark = SparkSession.builder.appName('Lesson 1').getOrCreate()

In [57]:
spark

In [58]:
spark_data_frame = spark.read.csv('test1.csv')

In [59]:
spark_data_frame = spark.read.option('header', 'true').csv("test1.csv")

In [60]:
spark_data_frame

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [61]:
type(spark_data_frame)

pyspark.sql.dataframe.DataFrame

In [62]:
spark_data_frame.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)